/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
    height: 100%;

}

body {
    background-color: green;
    color: green;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
}

.quote-box {
    margin-top: 50px;
    min-height: 100px;
    padding: 20px 20px 20px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 7px 9px 5px #202020;
}

#quote-content {
    opacity: 0;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    /* TODO: add space between favicon and quote text */
}

#quote-title {
    opacity: 0;
    width: 100%;
    padding-right: 20px;
    text-align: right;
    font-family: sans-serif;
    font-size: 18px;
}

.credits {
    padding-top: 15px;
}

.credits p {
    color: white;
    font-family: sans-serif;
    font-size: 9px;
    margin: 2px;
    padding: 0px;
}

.btn-social {
    color: white;
}

.btn-social:hover, .btn-social:active, .btn-social:focus {
    color: white;
}
